<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>560005931681-4je6novo6dql39jni5lctc8l55bpk32o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.560005931681-4je6novo6dql39jni5lctc8l55bpk32o</string>
	<key>API_KEY</key>
	<string>AIzaSyBl17UKzvjKzaj0IrBD7EeFKvJ1z_jt4d4</string>
	<key>GCM_SENDER_ID</key>
	<string>560005931681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SelfLearningPath.eShoppingApp</string>
	<key>PROJECT_ID</key>
	<string>eshoppingapp-e8189</string>
	<key>STORAGE_BUCKET</key>
	<string>eshoppingapp-e8189.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:560005931681:ios:e28ab60f41d625b91cc6e0</string>
</dict>
</plist>